<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <h3 class="text">Welcome {{username}}</h3>
    <h2 class="navbar-brand header-text col-3">Shopping World</h2>
    <div>
        <form class="form-inline col-9 ">
          <!-- <form class="form-inline col-9 " (ngSubmit)="onSubmit()"> -->
            <input class="form-control input-box" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchItem"  (change)="onSubmit()" name="search" (keydown)="space($event)">
            
            <!-- <button type="submit" class="btn btn-success">Submit</button> -->
        </form>
    </div>
    <button (click)="onCartClick()">Cart({{cartCount}})</button>
    <button (click)="onRegisterClick()">{{registerBtnName}}</button>
    <button *ngIf="username!=''" (click)="onLogoutClick()">Delete Account</button>
    <!-- <div class="logout">
        <button>Sign Out</button>
        <button>Delete Account</button>
    </div> -->
</nav>


