<div class="card box" *ngIf="cartStaus==false">
    No Items available in your cart!
</div>
<div class="card box" *ngIf="cartStaus==true">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let i of cartitems">
            <span>{{i.p_name}}</span> *
            <span>{{i.p_qty}}</span> =
            <span>{{(i.p_qty*i.p_price) | currency:'INR'}}</span>
        </li>
        <li class="list-group-item active">
            <span>Total:{{cartTotal | currency:'INR'}}</span>
        </li>
    </ul>
</div>
