<app-header></app-header>
<div class="container item-box">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-md-4" *ngFor="let i of product">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                            src={{i.imageUrl}}
                            data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">{{i.name}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" (click)="onClick(i.id)" class="btn btn-sm btn-outline-secondary">Details</button>
                                </div>
                                <p class="price-text">{{i.price | currency:'INR'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
